[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
click = "*"
colorama = "*"
Flask = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
Marshmallow = "*"
"qrcode[pil]" = "*"

[dev-packages]

[requires]
python_version = "3.9"
